<tr>
  <td>
    <%= notification.id %>
  </td>
  <td>
    <%= notification.rentals_video.rental.order_date %>
  </td>
  <td>
    <%= notification.rentals_video.video.title %>
  </td>
  <td>
    <%= Stock.format_types.key(notification.rentals_video.format_type.to_i).upcase %>
  </td>
  <td>
    <%= boolean_label(notification.status, notification.human_status) %>
  </td>
  <td>
    <% icon = '<i class="fas fa-pencil-alt" aria-hidden="true"></i>' %>
    <% full_icon = '<i class="fas fa-edit" aria-hidden="true"></i>' %>
    <% form_path = edit_polymorphic_path([:admin, notification]) %>
    <%= link_to icon.html_safe, '#', title: 'Edit notifications',
                class: 'index-link modal-btn modal-edit', data: { 'form-url': form_path, alt_list: action_name } %>
  </td>
</tr>