<br />
<h2>Edit Actor <%= @actor.first_name %> <%= @actor.last_name %></h2>

<table border="1">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender_ID</th>
    <th>Birthdate</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= form_with(model: @actor, local: true) do |form| %>
    <tr>
      <td>
        <%= form.text_field :first_name %>
      </td>
      <td>
        <%= form.text_field :last_name %>
      </td>
      <td>
        <%= form.select :gender, [1, 2] %>
      </td>
      <td>
        <%= form.text_field :birthdate %>
      </td>
      <td>
        <%= form.submit 'Update' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Movies</h2>

<ul>
  <% @videos.each do |video| %>
    <li><%= video.title %> (ID: <%= video.id %>)</li>
  <% end %>
</ul>
