<div class="page-content <%= "#{controller.controller_name}_#{controller.action_name}" %>">
  <div class="ibox">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3>
          <%= "<i class='fa fa-fw fa-#{@icon}'></i>".html_safe if @icon.present? %>
          Actors
        </h3>
      </div>
    </div>
    <div class="ibox-body">
      <div class="ibox-filters">
          <%= filters_for actorlist_path, method: :get, remote: true do |filter| %>
            <div class="filters-inner mb20">
              <div class="row">
                <!-- This assumes you have an 'active' scope or method similar to the Role model. Adjust as necessary for Actor. -->
                <%= filter.on :active, label: 'Active ', as: :select, options: options_for_select([['Active', true], ['Inactive', false]], params[:active] || %Q[]), input_html: { prompt: 'All' } %>
                <%= filter.on :query, label: 'Search For', as: :string, input_html: { value: params[:query] } %>
                <!-- render shared filter controls -->
                <%= render partial: 'shared/filter_controls' %>
              </div>
            </div>
          <% end %>
      </div>
      <div class="ibox-content pb20">
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Active?</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              <%= render @actors %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editActorModal" tabindex="-1" role="dialog" aria-labelledby="editActorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content will be loaded here from your /actors/:id/edit.js.erb -->
  </div>
</div>

<script>
    // Optional: You might want to reset the modal's content on close, so it gets reloaded every time.
    $('#editActorModal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>