 <div class="site-main">
    <br />
      <%= link_to 'Genres', '/admin/genres' %>
    <br />
      <%= link_to 'Actors', '/admin/actors'%>
    <br />
      <%= link_to 'Users', '/admin/users' %>
    <br />
      <%= link_to 'Videos', '/admin/videos' %>
    <br />
      <%= link_to 'Rentals', '/admin/rentals' %>
    <br />
</div>