<h2> Videos </h2>

<table border="1">
  <!-- ... your table headers ... -->
  <thead>
  <tr>
    <th>Thumbnail</th>
    <th>Description</th>
    <th>Title</th>
    <th>Genre</th>
    <th>Content Rating</th>
    <th>Average Rating</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @videos.each do |video| %>
    <tr>
      <td>
        <%= image_tag video.thumbnail.variant(resize_to_limit: [275, 275]) if video.thumbnail.attached? %>
      </td>
      <td class="narrow-column">
        <%= video.description %>
      </td>
      <td>
        <%= video.title %>
      </td>
      <td>
        <%= video.genres.map(&:name).join(', ') %>
      </td>
      <td>
        <%= video.content_rating %>
      </td>
      <td>
        <%= video.avg_rating %>
      </td>
      <td>
        <%= link_to 'Edit', edit_video_path(video) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>