<% if current_user.admin? %>
  <br />
    <h2>Editing <%= @video.title %></h2>
  <br/>
  <table border="1">
    <!-- ... your table headers ... -->
    <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Content Rating</th>
      <th>Average Rating</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= form_with(model: @video, local: true) do |form| %>
      <tr>
        <td>
          <%= image_tag @video.thumbnail.variant(resize_to_limit: [275, 275]) if @video.thumbnail.attached? %>
          <br />
          <%= form.file_field :thumbnail %>
        </td>
        <td>
          <%= form.rich_text_area :description, style: "height: 210px; width: 300px;"%>
        </td>
        <td>
          <%= form.text_field :title %>
        </td>
        <td>
          <%= form.collection_select :genre_ids, Genre.all, :id, :name, {}, { multiple: true, selected: @video.genre_ids } %>
        </td>
        <td>
          <%= form.select :content_rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], prompt: "Select Content Rating" %>
        </td>
        <td>
          <%= form.select :avg_rating, ['1', '2', '3', '4', '5'], prompt: "Select Average Rating" %>
        </td>
        <td>
          <%= form.submit 'Update' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />

  <table border="1">
    <thead>
    <tr>
      <th>Format Type</th>
      <th>Number Owned</th>
      <th>On Hand</th>
      <th>Active?</th>
    </tr>
    </thead>
    <tbody>
    <% @video_stocks.each do |stock| %>
      <tr>
        <td><%= stock.format_type %></td>
        <td><%= stock.number_owned %></td>
        <td><%= stock.on_hand %></td>
        <td><%= stock.active %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <p>You don't have the necessary permissions to view this page.</p>
<% end %>