<div class="page-content <%= "#{controller.controller_name}_#{controller.action_name}" %>">
  <div class="ibox">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3>
          <%= "<i class='fa fa-fw fa-#{@icon}'></i>".html_safe if @icon.present? %>
          Genres
        </h3>
      </div>
      <div class="mvi-ibox-buttons">
        <%= link_to 'New Genre', new_admin_genre_path, class: 'btn btn-new' %>
      </div>
    </div>
    <div class="ibox-body">
      <div class="ibox-filters">
        <%= filters_for admin_genres_path, method: :get, remote: true do |filter| %>
          <div class="filters-inner mb20">
            <div class="row">
              <%= filter.on :active, label: 'Active ', as: :select, options: options_for_select([['Active', true], ['Inactive', false]], params[:active] || %Q[]), input_html: { prompt: 'All' } %>
              <%= filter.on :query, label: 'Search For', as: :string, input_html: { value: params[:query] } %>
            </div>
          </div>
          <!-- render shared filter controls -->
          <%= render partial: 'shared/filter_controls' %>
        <% end %>
      </div>
      <div class="ibox-content pb20">
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Active?</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <%= render @genres %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
