<tr>
  <td>
    <%= stock.id %>
  </td>
  <td>
    <%= stock.format_type.upcase %>
  </td>
  <td>
    <%= Stock.on_hand_method(stock.video_id, stock.format_type_before_type_cast) %>
  </td>
  <td>
    <%= boolean_label(stock.active, stock.human_active) %>
  </td>
  <td>
    <% icon = '<i class="fas fa-pencil-alt" aria-hidden="true"></i>' %>
    <% full_icon = '<i class="fas fa-edit" aria-hidden="true"></i>' %>
    <% form_path = edit_polymorphic_path([:admin, stock]) %>
    <%#= link_to 'Edit', edit_admin_actor_path(actor), remote: true, class: 'btn btn-primary edit-button'%>
    <%= link_to icon.html_safe, '#', title: 'Edit actor',
                class: 'index-link modal-btn modal-edit',
                data: { 'form-url': form_path, alt_list: action_name } %>
  </td>
</tr>