<div class="page-content <%= "#{controller.controller_name}_#{controller.action_name}" %>">
  <div class="ibox">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3>
          <%= "<i class='fa fa-fw fa-#{@icon}'></i>".html_safe if @icon.present? %>
          Stocks
        </h3>
      </div>
      <div class="mvi-ibox-buttons">
        <div class="ibox-tools">
          <%= link_to 'New Stocks', new_admin_stock_path, class: 'btn btn-new' %>

        </div>
      </div>
    </div>
    <div class="ibox-body">
      <div class="ibox-filters">
        <%= filters_for admin_stocks_path, method: :get, remote: true do |filter| %>
          <div class="filters-inner mb20">
            <div class="row">
              <%= filter.on :active, label: 'Active ',
                            as: :select,
                            options: options_for_select([['Active', true],
                                                         ['Inactive', false]],
                                                        params[:active] || %Q[]),
                            input_html: { prompt: 'All' } %>
              <!-- render shared filter controls -->
              <%= render partial: 'shared/filter_controls' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="ibox-content pb20">
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Format Type</th>
              <th>Number Owned</th>
              <th>Active</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <%= render @stocks %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editActorModal" tabindex="-1" role="dialog" aria-labelledby="editActorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
</div>

<script>
    $('#editActorModal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>