<h1>New user</h1>

<%= simple_form_for [:admin, @user], local: true do |form| %>

  <table>
    <tbody>
    <tr>
      <td><%= form.label :first_name %></td>
      <td><%= form.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= form.label :last_name %></td>
      <td><%= form.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= form.label :email %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password %></td>
      <td><%= form.text_field :password %></td>
    </tr>
    <tr>
      <td><%= form.label :address %></td>
      <td><%= form.text_field :address_line %></td>
    </tr>
    <tr>
      <td><%= form.label :suburb %></td>
      <td><%= form.text_field :suburb %></td>
    </tr>
    <tr>
      <td><%= form.label :state %></td>
      <td><%= form.select :state, ['ACT','NSW','NT', 'QLD', 'SA', 'TAS', 'VIC','WA'] %></td>
    </tr>
    <tr>
      <td><%= form.label :postcode %></td>
      <td><%= form.text_field :postcode %></td>
    </tr>
    <tr>
      <td><%= form.label :role %></td>
      <td><%= form.select :role, ['regular','admin'], prompt: "Select role" %></td>
    </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

